@charset "UTF-8";
.puFraming{
  background: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 40px;
  .iconfont{
    cursor: pointer;
    font-size: 14px;
  }
}
.hintMain{
  .hintFont{
    border: 1px #ff9800 dashed;
    position: relative;
    background: #fffcd9;
    padding: 14px 20px;
    p{
      text-align: center;
    }
    .h-close{
      font-size: 24px;
      color: #ff9800;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding-top: 10px;
      padding-right: 10px;
    }
  }
}
//表格
.el-table{
  color: #1a1a1a;
  border: 1px solid #c9c9c9{
    bottom: 0;
    right: 0;
  };
  th{
    padding: 4px 0;
    background: #e4e7ed;
  }
  td{
    padding: 3px 0;
    .affirm,.sendBack{
      padding: 2px 4px;
      font-size: 12px;
    }
    .affirm{
      color: #0a8a5f;
      background: #d9fff2;
    }
    .sendBack{
      color: #aa0505;
      background: #ffd9d9;
    }
    .fa{
      font-size: 13px;
    }
  }
}

.el-table--border{
  tr{
    td,th{
        &:last-child{
        border-right: 0;
      }
    }
  }
}



//新增页面
.main-card-add{
  padding: 10px 10px 0 10px;
  background: #fff;
  min-height: calc(100vh - 60px);
  position: relative;
  .addGoBack{
    z-index: 99;
    background: #09a3f0;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 10px;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    .fa{
      padding-right: 6px;
    }
  }
  .added{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .newBody{
    padding-top: 20px;
    .el-row{ margin-bottom: 0;}
  }
  .wornBody{
    margin-top: 10px;
    padding: 20px;
    background: #f5f5f5;
    .distance{
      padding-top: 10px;
      tr{
        td{
          padding: 10px 0;
          &:first-child{
            text-align: right;
          }
        }
        .adjunct{
          img{height: 18px;}
          .pvw{
            padding: 1px 5px;
            background: #e5e5e5;
            display: inline-table;
            span{margin-left: 10px;}
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
//单出框body
.el-dialog__body{
  padding-top: 10px;
}
.pu-button-mini{
   padding:4px 5px;
  +.pu-button-mini{
    margin-left: 2px;
  }
  &:hover{
    background: #fff;
  }
}
.el-table td, .el-table th{
  text-align: center;
}

.button-yellow{
  border-color: #fca800;
  color: #fca800;
  &:hover{
     border-color: #fcd200;
     color: #fcd200;
   }
}

.button-blue{
  border-color: #0054fb;
  color: #0054fb;
  &:hover{
    border-color: #0089fa;
    color: #0089fa;
  }
}

.button-green{
  border-color: #06b850;
  color: #06b850;
  &:hover{
    border-color: #0acf4f;
    color: #0acf4f;
  }
}

.button-red{
  border-color: #ff1a1a;
  color: #ff1a1a;
  &:hover{
    border-color: #ff4c4c;
    color: #ff4c4c;
  }
}

.button-pink{
  border-color: #ff006a;
  color: #ff006a;
  &:hover{
    border-color: #ff3392;
    color: #ff3392;
  }
}
.tableColorRed{
  color: red;
}
.tableColorViolet{
    color: #2259e7;
}
.tableColorBlue{
  color: #479aad;
}

.tableColorYellow{
  color: #ff9900;
}

.tableColorRed{
  color: red;
}

.tableColorGreen{
  color: #00b579;
}

//弹出框
.dialogTopBorde{
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

//下发
.issueTa{
  .el-table{
    td,th{
      padding: .6rem .8rem;
      text-align: left;
    }
    &:before{
      bottom: inherit;
      top: 0;
    }
  }
  .pu-text-align{
    padding-top: 20px;
  }
}
.issueNull{
  margin-top: 0;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  .fa{
    color: #fcd200;
    padding-right: 10px;
  }
}
//详情
.pu-dialog-detail{
  border-top: 1px solid #ccc;
  margin-top: -10px;
  padding-top: 20px;
  >li{
    padding: 10px;
  }
  span{
    display: block;
  }
  .th{
    width: 124px;
    text-align: right;
    padding-right: 10px;
  }
}

//文件导入
.download-template{
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  padding-top: 20px;
  .btn-download{
    span{
      text-decoration: underline;
    }
    &:hover{
      color: #09a3f0;
    }
  }
}

.el-upload__tip{
  padding-left: 10px;
  color: #3a8ee6;
}

//搜索框
.inputBordetTitle{
  .footer{
    padding: 7px 0;
    margin-left: 10px;
    .el-button{
      border: none;
      border-radius: 0;
      padding: 7px 16px;
      margin: 0;
      background: #f0f0f0;
      color: #666;
      &:hover{
        background: #fff;
      }
    }
    .el-button--primary{
      background: #fff;
      color: #09b06d;
      &:hover{
        background: #00b579;
        color: #fff;
      }
    }
  }
}

//列表的显示框
.el-tooltip__popper.is-dark{
  max-width: 50%;
}
//下拉框border
.el-select .el-input.is-focus .el-input__inner {
  border-color: #c2c2c2;
}


//修改框架样式
.el-select-dropdown__item.selected {
    color: #00a2ff;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #00a2ff;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is_disabled):hover {
  color: #00a2ff;
}



//日期控件颜色
.el-date-picker__header-label {
  &:hover {
    color: #00a2ff;
  }
}
.el-picker-panel__icon-btn:hover {
  color: #00a2ff;
}
.el-picker-panel__icon-btn:focus {
  color: #00a2ff;
}

.el-picker-panel__content td .cell:hover, .el-picker-panel__content td.current:not(.disabled) .cell {
  color: #00a2ff;
}
.el-picker-panel__content td.today span{
  color: #00a2ff;
}
.el-picker-panel__content td.available:hover {
  color: #00a2ff;
}
.el-picker-panel__content td.current:not(.disabled) span {
  background-color: #00a2ff;
}
.el-date-table td.end-date span, .el-date-table td.start-date span {
  background-color: #00a2ff;
}

//弹框叉
.el-message-box__headerbtn .el-message-box__close:hover {
  color: #00a2ff;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #00a2ff;
}
.el-dialog__headerbtn .el-dialog__close:hover {
  color: #00a2ff;
}
//单选框
.el-radio__input.is-checked .el-radio__inner {
  border-color: #00a2ff;
  background: #00a2ff;
}
//多选框
.el-checkbox__input.is-checked + .el-checkbox__label{
  color: #00a2ff;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: #00a2ff;
  background: #00a2ff;
}
.el-checkbox__inner{
   &:hover {
    border-color: #00a2ff;
  }
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #00a2ff;
}
//表格分页
.el-pager li.active {
  color: #00a2ff;
}
.el-pager li:hover {
  color: #00a2ff;
}
.el-pagination .btn-next:hover, .el-pagination .btn-prev:hover {
  color: #00a2ff;
}

.el-radio__inner:hover {
  border-color: #00a2ff;
}

// //表格行 hover
// .el-table__body tr.hover-row>td {
//   background-color: #f7fffc !important;
// }
// .el-table__body tr:hover>td {
//   background-color: #f7fffc !important;
// }
// //表格行 focus
// .el-table__body tr.current-row>td {
//   background-color: #f7fffc !important;
// }

.el-time-panel__btn.confirm {
  color: #00a2ff;
}
.el-button--text {
  color: #00a2ff;
}
.el-picker-panel__link-btn {
  &:hover {
    border-color: #00a2ff !important;
    color: #00a2ff !important;
  }
}

