/*
Error: Invalid US-ASCII character "\xE6"
        on line 11 of /Users/xiawen/project/construction-manage-ui/src/view/home/comptroller.vue

6:           <el-row>
7:             <el-col :span="8" align="center">
8:               <img :src="provinceUrl"/>
9:             </el-col>
10:             <el-col :span="16">
11:               <span class="title"><span class="color1">{{platformName}}</span>水电站</span>
12:               <br/>
13:               <span class="big">{{platform0}}</span><span class="bold">(座)</span>
14:             </el-col>
15:           </el-row>
16:         </div>

Backtrace:
/Users/xiawen/project/construction-manage-ui/src/view/home/comptroller.vue:11
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/util.rb:1041:in `rescue in block in find_encoding_error'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/util.rb:1038:in `block in find_encoding_error'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/util.rb:1037:in `each'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/util.rb:1037:in `each_with_index'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/util.rb:1037:in `find_encoding_error'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/util.rb:765:in `check_sass_encoding'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:444:in `check_encoding!'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:400:in `_to_tree'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
/usr/local/lib/ruby/gems/2.5.0/gems/sass-3.5.7/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE6\"\A         on line 11 of /Users/xiawen/project/construction-manage-ui/src/view/home/comptroller.vue\A \A 6:           <el-row>\A 7:             <el-col :span=\"8\" align=\"center\">\A 8:               <img :src=\"provinceUrl\"/>\A 9:             </el-col>\A 10:             <el-col :span=\"16\">\A 11:               <span class=\"title\"><span class=\"color1\">{{platformName}}</span>水电站</span>\A 12:               <br/>\A 13:               <span class=\"big\">{{platform0}}</span><span class=\"bold\">(座)</span>\A 14:             </el-col>\A 15:           </el-row>\A 16:         </div>"; }
